@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

h1 {
    text-align: center;
    margin: auto;
    font-family: 'Dosis', sans-serif;
}

#image {
    height: 250px;
    width: 90%;
    padding: 0.5rem;

}

.center {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
}

#message {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

#inputs {
    display: block;
    border-radius: 18px;
    /*border: 2px solid rgb(130, 130, 235);*/
    background-color: #CAE9F5;
    padding: 20px;
    width: 600px;
    text-align: center;
    margin: auto;
}

/* styling footer */

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
}

footer {
    height: 150px;
    background-color: rgb(244, 244, 252);
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
    /*background-color: rgb(196, 93, 93);*/
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    /*color: #3a3a3a;*/
    /*background-color: rgb(90, 72, 72);*/
}