@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Poppins:wght@300&display=swap');

h1 {
    text-align: center;
    margin: auto;
    font-family: 'Dosis', sans-serif;
}

#image {
    height: 250px;
    max-width: 100%;
    padding: 0.5rem;
    margin-bottom: 2px;
}

.center {
    
    display: block;
    margin: 0 auto;
    /*margin-right: auto;*/
    width: 75%;
    
}

#message {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

#inputs {
    font-family: 'Poppins', sans-serif;
    display: block;
    border-radius: 18px;   
    background-color: #CAE9F5;
    padding: 20px;
    width: 600px;
    text-align: left;
    margin: auto;
}


/* styling input-box*/

#selfSalary, #bikCarOMV, #bikCarkm, #bikRent, #bikExp {
    margin-left: 10px;
    width: 100px;
    border: 1px solid rgb(182, 179, 179);
    height: 25px;
    padding: 1px;
    
}

/* styling footer */

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
}

footer {
    height: 150px;
    background-color: rgb(244, 244, 252);
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
    /*background-color: rgb(196, 93, 93);*/
}

.social-media i {
    font-size: 160%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 1%;
    /*color: #3a3a3a;*/
    /*background-color: rgb(90, 72, 72);*/
}




/* media queries */

/* for larger to medium screens size up to 1100px */

@media screen and (max-width: 1100px) {
    #message {
        font-size: 100%;
    }

    #logo {
        font-size: 80%;
    }
}


/* for medium screen sizes 850px and below */

@media screen and (max-width: 850px) {

    #message {
        width: 50%;
        margin: 0 auto;

    }

    #logo {
        font-size: 60%;
    }

    #inputs {
        border-radius: 18px;        
        background-color: #CAE9F5;
        padding: 20px;
        width: 350px;
        text-align: center;
        margin: 0 auto;
    }

    #image {
        height: 250px;
        width: 110%;
        padding: 0.5rem;
    
    }

}
